{{!< layout}}

<div>
  <form class="form-area" action="index.html" method="post">
     <input type="text" class="search-bar" placeholder="Please Input">
  </form>
  <div class="totalBookmarksNum">共有{{bookmarks.length}}条记录</div>
  <div class="search-item" id="search-item">
    {{#each bookmarks}}
    <div class="search-list">
      <div class="search-list">
        <button name='bookmark-delete' class='btn btn-mini btn-primary bookmark-delete' type='button'>删除</button>
        <div class="bookmark-content">{{title}}</div>
        <hr>
      </div>
    </div>
    {{/each}}
    <ul class="pagination" id="pagination"></ul>
    <button id="bookmark-add" class="btn btn-large btn-block btn-primary" type="button" data-toggle="modal" data-target="#addModal">增加</button>'
  </div>
</div>



<!--AddModal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               添加书签
            </h4>
         </div>
         <div class="modal-body">
            <label for="add-bookmark-name" ></label>
            书签名称：<input type="text" name="name" class="add-bookmark-name">
            <label for="add-bookmark-address"></label>
            书签地址：<input type="text" name="name" class="add-bookmark-address">
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default"
               data-dismiss="modal" id="close">关闭
            </button>
            <button type="button" class="btn btn-primary" id="save">
               提交
            </button>
         </div>
      </div>
</div>
<!-- AddModel End -->
