<!DOCTYPE html>
<html>

<head>
  <title>Bookmark Manager</title>
  <link href="./stylesheets/main.css" rel="stylesheet">
  <script src="./javascripts/main.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>
