body{
  text-align: center;
}

.form-area{
  width: 83%;
  background-color: #337ab7;;
  background-size: auto  100%;
  margin: 10px auto;
}

.search-bar{
  margin: 2% auto;
  width:85%;
  height: 35px;
  font-size: 150%;
}

.search-item{
  margin: auto 100px;
}

.search-item h1{
  margin-top: 10%;
}

.search-item ul{
  padding: 0%;
}


.search-list{
  margin: 5% 5%;
}

.bookmark-content{
  text-align: left;
  font-size: 120%;
  color: #494949;
  float: left;
}

.bookmark-delete{
  display: inline;
  float: right;
}

.add-area{
  margin: auto 8%;
}

hr{
  clear: both;
  border-style: dashed;
  border-color: #337ab7;
}

.highlight{
  background-color: #337ab7;
  color: #ffffff;
}

.inputEmpty{
  color:red
}
